<a href="/dashboard">&larr; Back</a>
<h1>नमस्कार, <%= currentUser && currentUser.name ? currentUser.name : 'Webmaster' %>
</h1>
<div class="add-post">
    <div class="admin-title">
        <h2>Global Site Configuration</h2>
    </div>
    <form action="/edit-site-config" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <label for="siteName">Site Name</label>
        <input type="text" id="siteName" name="siteName" value="<%= config.siteName %>" required>

        <label for="homeWelcomeText">Home Welcome Text</label>
        <input type="text" id="homeWelcomeText" name="homeWelcomeText" value="<%= config.homeWelcomeText %>" placeholder="Greet your audience with a welcome text in your home page">

        <label for="homeWelcomeSubText">Home Welcome Sub-Text</label>
        <input type="text" id="homeWelcomeSubText" name="homeWelcomeSubText" value="<%= config.homeWelcomeSubText %>" placeholder="a sub heading just below your welcome text">

        <label for="homepageWelcomeImage">Homepage Welcome Image</label>
        <input type="text" id="homepageWelcomeImage" name="homepageWelcomeImage" value="<%= config.homepageWelcomeImage %>" placeholder="Image URL for your homepage welcome section">

        <label for="copyrightText">Copyright Text (Exclude Copyright year)</label>
        <input type="text" id="copyrightText" name="copyrightText" value="<%= config.copyrightText %>" placeholder="Your copyright text">


        <label for="siteDefaultThumbnailUri">Default Thumbnail Image URL</label>
        <input type="text" id="siteDefaultThumbnailUri" name="siteDefaultThumbnailUri"
            value="<%= config.siteDefaultThumbnailUri %>" required>

        <label for="siteAdminEmail">Webmaster Email</label>
        <input type="email" id="siteAdminEmail" name="siteAdminEmail" value="<%= config.siteAdminEmail %>" required>

        <label for="cloudflareSiteKey">Cloudflare Site Key</label>
        <input type="text" id="cloudflareSiteKey" name="cloudflareSiteKey" value="<%= config.cloudflareSiteKey %>">
        <label for="cloudflareServerKey">Cloudflare Secret Key</label>
        <input type="text" id="cloudflareServerKey" name="cloudflareServerKey" value="<%= config.cloudflareServerKey %>">
        
        <label for="defaultPaginationLimit">Default Pagination Limit</label>
        <input type="number" id="defaultPaginationLimit" name="defaultPaginationLimit"
            value="<%= config.defaultPaginationLimit %>" required min="1" max="10">
        
            <label for="searchLimit">Search Result Limit</label>
        <input type="number" id="searchLimit" name="searchLimit"
            value="<%= config.searchLimit %>" required min="1" max="50">
        <br><br>

        <label for="isRegistrationEnabled">Registration Enabled:</label>
        <input type="checkbox" id="isRegistrationEnabled" name="isRegistrationEnabled"
            <%= config.isRegistrationEnabled? 'checked' : '' %>>
        <br>

        <label for="isCommentsEnabled">Comments Enabled:</label>
        <input type="checkbox" id="isCommentsEnabled" name="isCommentsEnabled"
            <%= config.isCommentsEnabled? 'checked' : '' %>>
        <br>

        <div class="admin-title">
            <h2>Site Metadata and SEO Settings</h2>
        </div>
        <label for="siteMetaDataKeywords">Site Keywords (comma separated)</label>
        <input type="text" id="siteMetaDataKeywords" name="siteMetaDataKeywords"
            value="<%= config.siteMetaDataKeywords %>">

        <label for="siteMetaDataAuthor">Site Author</label>
        <input type="text" id="siteMetaDataAuthor" name="siteMetaDataAuthor"
            value="<%= config.siteMetaDataAuthor %>">

        <label for="siteMetaDataDescription">Site Description</label>
        <input type="text" id="siteMetaDataDescription" name="siteMetaDataDescription"
            value="<%= config.siteMetaDataDescription %>">

        <label for="googleAnalyticsScript">Google Analytics</label>
        <textarea id="googleAnalyticsScript" name="googleAnalyticsScript" placeholder="<!-- Google tag (gtag.js) -->
            &lt;script async src=&quot;https://www.googletagmanager.com/gtag/js?id=&lt;your Google Tag Code&gt;&quot;></script>
            &lt;script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', '&lt;your Google Tag Code&gt;');
              &lt;/script>" cols="50" rows="15"><%= config.googleAnalyticsScript %></textarea>

        <label for="inspectletScript">Inspectlet Analytics</label>
        <textarea id="inspectletScript" name="inspectletScript" cols="50" rows="15" placeholder="&lt;!-- Begin Inspectlet Asynchronous Code --&gt;
        &lt;script type=&quot;text/javascript&quot;>
        (function() {
        window.__insp = window.__insp || [];
        __insp.push(['wid', &lt;Your Inspectlet Code&gt;]);
        var ldinsp = function(){
        if(typeof window.__inspld != &quot;undefined&quot;) return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = &quot;inspsync&quot;; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=&lt;Your Inspectlet Code>&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
        setTimeout(ldinsp, 0);
        })();
        &lt;&#47;script&gt;
        &lt;!-- End Inspectlet Asynchronous Code --&gt;"><%= config.inspectletScript %></textarea>
        <br>
        <input type="submit" value="Update" class="btn">
    </form>
</div>
<div class="admin-title">
    <h2>User Management: </h2>
</div>
<hr>
<% if (users.length > 0) { %>
    <ul class="admin-posts">
        <li>
            <%= currentUser.username %> - <%= currentUser.name %> (current user)
            <div class="admin-posts-controls">
                <a href="/edit-user/<%= currentUser._id %>" class="btn">Edit</a>
            </div>
        </li>
        <hr>
        <% users.forEach(user => { %>
            <li> <%= user.username %> - <%= user.name %> - Privilege: <%= user.privilege %>
                <div class="admin-posts-controls">
                    <a href="/edit-user/<%= user._id %>" class="btn">Edit</a>
                    <form action="/delete-user/<%= user._id %>/?_method=DELETE" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" value="Delete" class="btn-delete btn">
                    </form>
                </div>
            </li><hr>
        <% }) %>
    </ul>
<% } %>
