<footer class="footer">
    <% if (!locals.config.copyrightText) { %>
    &copy; <%= new Date().getFullYear().toString() %> - Project Walnut, all rights reserved
    <% } else { %>
    &copy; <%= new Date().getFullYear().toString() %> - <%= locals.config.copyrightText %>
    <% } %> <br>
    Webmaster email: <a href="mailto:<%= locals.config.siteAdminEmail %>" target="_blank"><%= locals.config.siteAdminEmail %></a>
</footer>