<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content="<%= [locals.config.siteMetaDataKeywords, locals.keywords, locals.title].filter(Boolean).join(', ') || 'Project Walnut - admin panel' %>"/>
        <meta name="description" content="<%= [locals.config.siteMetaDataDescription, locals.description].filter(Boolean).join(', ') || 'A random description as a placeholder - Adminstative and editing dashboad and panel for Project Walnut' %>"/>
        <meta name="author" content="<%= (locals.config.siteMetaDataAuthor ? `${locals.config.siteMetaDataAuthor}` : 'Debagnik Kar' )%>"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#000000">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" defer src="/js/script.js"></script>
        <title><%= locals.title %><%= locals.config.siteName ? ` - ${locals.config.siteName}` : '' %></title>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header_admin.ejs') %>
            <main class="main">
                <%- body %>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
        
    </body>
</html>