<div class="author">
    <h1 class="author__heading"><%= locals.config.homeWelcomeText ? locals.config.homeWelcomeText : 'Welcome, This is Project Walnut' %></h1>
    <p class="author__body"><%= locals.config.homeWelcomeSubText ? locals.config.homeWelcomeSubText : 'An Open-source Blogging site made with Node, Express, Mongo and EJS' %></p>
</div>
<% if (locals.config.homepageWelcomeImage && locals.config.homepageWelcomeImage.trim().length > 0) { %>
    <img src="<%= locals.config.homepageWelcomeImage %>" alt="placeholder image" class="hero-image" width="981" height="528">
<% } else { %>
    <img src="/img/placeholder.webp" alt="placeholder image" class="hero-image" width="981" height="528">
<% } %>
 

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>

    <ul class="article-ul">
        <% data.forEach(posts => { %>
            <li>
                <a href="/posts/<%= encodeURIComponent(posts.uniqueId) %>">
                    <span><%= posts.title %></span>
                    <span class="article-list__date"><%= posts.createdAt.toDateString() %></span>
                    <!--<span class="article-list__tags">tags: <%= posts.tag %></span> to be developed later-->
                </a>
            </li>
        <% }) %> 
    </ul>

    <div class="pagination-container">
        <% if (previousPage) { %>
            <a href="/?page=<%= currentPage - 1 %>" class="pagination prev">&lt; View newer posts</a>
        <% } else { %>
            <span></span> <!-- Empty span to maintain layout -->
        <% } %>
        
        <span class="pagination-counter">Page <%= currentPage %> of <%= totalPages %></span>
        
        <% if (nextPage !== null) { %>
            <a href="/?page=<%= nextPage %>" class="pagination next">View older posts &gt;</a>
        <% } %>
    </div>
</section>

<script src="/js/theme.js"></script>
