<div class="author">
    <h1 class="author__heading"><%= config.homeWelcomeText ? config.homeWelcomeText : 'Welcome, This is Project Walnut' %></h1>
    <p class="author__body"><%= config.homeWelcomeSubText ? config.homeWelcomeSubText : 'An Open-source Blogging site made with Node, Express, Mongo and EJS' %></p>
</div>
<% if (config.homepageWelcomeImage && config.homepageWelcomeImage.trim().length > 0) { %>
    <img src="<%= config.homepageWelcomeImage %>" alt="placeholder image" class="hero-image" width="981" height="528">
<% } else { %>
    <img src="/img/placeholder.webp" alt="placeholder image" class="hero-image" width="981" height="528">
<% } %>
 

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>

    <ul class="article-ul">
        <% data.forEach(posts => { %>
            <li>
                <a href="/post/<%= posts._id %>">
                    <span><%= posts.title %></span>
                    <span class="article-list__date"><%= posts.createdAt.toDateString() %></span>
                    <!--<span class="article-list__tags">tags: <%= posts.tag %></span> to be developed later-->
                </a>
            </li>
        <% }) %> 
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>
</section>
